body{
    background-image: linear-gradient(to right, green, blue , green);
    font-family: times;  
    font-size: 20px;
    border-style: groove;
    padding: 5px;
}

article {
    text-align: left;
}

.hidden {
    opacity: 0;
}

.inputs{
    text-align: justify; 

}

.intro{
    color: white; 
    font-size: 30px;

}







 